* {
    padding: 0;
    margin: 1%;
    box-sizing: border-box;
}

.bckgrnd {
  background-image: url("Images/background4.jpg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:100%;
}


header h1 {
  font-family: 'Vast Shadow',cursive;
  text-align: center;
  font-weight: bolder;
  font-size:5vw;
  margin-top:4%;
  margin-left: 15%;
  color:orange;
}

.img2 {
    float:right;
    background:transparent;
    max-width: 50px;
    max-height: 50px;
  }

.img2:hover {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
  }

@keyframes shake {
      0% {
          transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
          transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
          transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
          transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
          transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
          transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
          transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
          transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
          transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
          transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
          transform: translate(1px, -2px) rotate(-1deg);
      }
  }

h2 {
  text-align: center;
  font-family:'JSL-Ancient';
  font-weight: bolder;
  font-size:3vw;
  color:powderblue;
}

#form {
  font-family:'Atma',cursive;
  font-weight:bold;
  font-size:2vw;
  text-align: center;
  color:powderblue;
  margin-left:16%;
}

.filldate {
  margin-right:27%;
}

input[type=checkbox] {
  width: 2vw;
  height:2vw;
  box-sizing: border-box;
  padding:0 5px 0 0;
}


div .checkbox-inline {
  margin-right:33%;
}

.submit {
  color:coral;
  background:transparent;
  border:transparent;
  font-family: 'Fredericka the Great';
  font-size:3vw;
  margin-top:0%;
  box-shadow:2px 2px 2px 2px;
  border-radius: 0.3rem;
}

.submit:hover {color:orangered;}

.submit:active {
  color:orangered;
  transform: translateY(4px);
}

footer {
  text-align:right;
  margin-left:70%;
  color:brown;
  font-family:'Atma';
  font-size:18px;
}

#date {
    border: none;
    color: #536162;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    width:25vw;
    height:5vw;
}
#result {
  margin-top:3%;
  margin-left:30%;
  color:white;
  font-family:'Indie Flower';
  text-align:center;
  font-size:4vw;
}
