* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bckgrnd {
  background-image: url("Images/background4.jpg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:100%;
}


header h1 {
  font-family: 'Payday',cursive;
  text-align: center;
  font-weight: bolder;
  font-size:70px;
  margin-top:5%;
  color:orange;
}

#a1 {
  font-family:'Fanzine';
  font-size:35px;
  color:white;
  float:right;
  margin-right:-4%;
  margin-top:-2%;
  }

h2 {
  text-align: center;
  font-family:'JSL-Ancient';
  font-weight: bolder;
  font-size:40px;
  margin-left:40%;
}

.img1 {
  float:right;
  background:transparent;
  max-width: 120px;
  max-height: 120px;
}

.form {
  font-family:'Atma',cursive;
  font-weight:bold;
  font-size:40px;
  text-align:right;
  color:powderblue;
  margin-right: 20%;
}

.filldate {
  margin-right:27%;
}

input[type=text] {
  width: 450px;
  height:50px;
  box-sizing: border-box;
  padding: 5px 5px;
  margin:8px 0;
}

input[type=checkbox] {
  width: 30px;
  height:30px;
  box-sizing: border-box;
  padding:0 5px 0 0;
  margin-right:47%;
  position: relative;
}

.checkbox-female {
  margin-right:-40%;
  margin-top: -7.5%;
}



.submit {
  color:yellow;
  background:transparent;
  border:transparent;
  font-family: 'Payday';
  font-size:50px;
  margin-top:-20%;
}

footer {
  text-align:right;
  margin-left:70%;
  color:brown;
  font-family:'Atma';
  font-size:18px;
}

#date {
    border: none;
    color: #536162;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
}
#result {
  margin-top:10%;
  margin-left:30%;
  color:deeppink;
  font-family:'Pacifico';
  text-align:center;
}
