.bckgrnd {
  background-image: url("Images/background3.jpg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:100%;
}


header h1 {
  font-family: 'Vast Shadow',cursive;
  text-align: center;
  font-weight: bolder;
  font-size:4vw;
  margin-top:8%;
  color:orange;
}

.img1 {
  float:right;
  background:transparent;
  max-width: 90px;
  max-height: 90px;
}

.img1:hover {
  max-width:120px;
  max-height:120px;
}

.mid {
  font-family:'Grandstander',cursive;
  font-weight:bold;
  font-size:2.5vw;
  text-align:center;
  color:chocolate;
}

footer {
  text-align:right;
  margin-left:70%;
  margin-top:5%;
  color:brown;
  font-family:'Atma';
  font-size:1vw;
}
